<div class="popup" id="popupThemes" style="display: none;"> 
    <h2> Thèmes </h2>

    <div class="theme_select lapis" onClick="theme_select('lapis')"><h3> Lapis (défaut) </h3></div>
    <div class="theme_select clair" onClick="theme_select('clair')"><h3> Clair </h3></div>
    
    <div class="theme_select hacker" onClick="theme_select('hacker')"><h3> Hacker </h3></div>
    <div class="theme_select espace" onClick="theme_select('espace')"><h3> Espace </h3></div>

    <div class="theme_select fujisaki" onClick="theme_select('fujisaki')"><h3> Fujisaki </h3></div>
    <div class="theme_select miku" onClick="theme_select('miku')"><h3> Miku </h3></div>

    <div class="theme_select natsuki" onClick="theme_select('natsuki')"><h3> Natsuki </h3></div>
    <div class="theme_select sayori" onClick="theme_select('sayori')"><h3> Sayori </h3></div>

    <div class="theme_select figue" onClick="theme_select('figue')"><h3> Figue </h3></div>
</div>