{% extends 'A_Shared/base.html.twig' %}

{# --- Head --- #}
{% block title %} Conv {% endblock %}
{% block styles %}
{% endblock %}

{# --- Body --- #}
{% block body %}
<body class="lapis">
{% endblock %}

{# --- Header --- #}
{% block header %}

{# --- Titre --- #}
<h1> FmConv </h1>

{# --- Center --- #}
<div class="center">
</div>

{# --- Boutons --- #}
<div>
<button id="toggle-mode"><i class="fa-solid fa-moon"></i></button>
<a href="/"><i class="fa-solid fa-house"></i></a>
</div>
{% endblock %}


{# --- Body --- #}
{% block main %}
{% endblock %}


{# --- Scripts --- #}
{% block scripts %}
{% endblock %}

