@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root 
{
    --bg-color: #8e99c2;
    --text-color: #2c3e50;
    --content-bg: #bbc4e8;
    
    --link-color: #3e21fd;
    --link-color2: #5b42ff;
    --link-hover-bg: #723ffd66;
}
.dark-mode 
{
    --bg-color: #111028;
    --text-color: #ecf0f1;
    --content-bg: #20263c;
    
    --link-color: #3498db;
    --link-color2: #61b1e6;
    --link-hover-bg: #4a588b;
    --link-hover-text: white;
}

body 
{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    
    margin: 0;
    padding: 0;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header 
{
	box-shadow: -1px 5px 8px black;
	background-color: var(--content-bg);
	
    padding-left: 2vw;
    padding-right: 2vw;
    height: 9vh;
    
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	z-index : 2;
}
header div 
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	width: 120px;
}
header a 
{
	color: var(--link-color);
	font-style: none;
}
header button:hover,
header a:hover
{
    color: var(--link-hover-bg);
	transition: 0.3s;
}
header button 
{
    color: var(--link-color);
    
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
	
	height: 100%;
}
header i 
{
	font-size: 1.5em;
}

.container 
{
    display: flex;
    justify-content: space-between;
    
    padding: 30px;
    gap: 25px;
}
.content 
{
    width: 95vw;

    column-width: 320px;
    padding-left: 16px;
    padding-right: 8px;
}

.cours 
{
    width: 92%;
    margin-bottom: 15px;
    padding: 12px;
    
    background-color: var(--content-bg);
    border-radius: 12px;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 2px 5px 6px black;

    transition: background-color 0.3s ease-in-out;
}
.cours a
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	text-decoration: none;
	color: var(--text-color);
	
	width: 100%;
	height: 100%;
}
.fcours
{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: flex-end;

    margin: 0px;
    width: 99%;
}

.barre
{
    display: inline-block;
    border-bottom: 3px solid var(--link-color);
    height: 0px;
    width: 32px;

    transition: all 0.5s ease-in-out;
    animation: color-barre 5s linear infinite;
}
.titre-barre {
    display: inline-block;
}

.cours:hover 
{
    background-color: var(--link-hover-bg);
}
.cours:hover .barre
{
    width: 100%;
}

h1 
{
    color: var(--text-color);
    font-size: 2em;
}
h2 
{
    color: var(--text-color);
    font-size: 1.2em;
    margin-bottom: 0px;
}
h3 
{
	font-size: 0.95em;
    margin-bottom: 4px;
}
h4 
{
	text-align: right;
	font-size: 0.8em;
	min-width: 8vw;
    margin-bottom: 4px;
}

@keyframes color-barre {
    0%   { border-bottom: 3px solid var(--link-color); }
    50%  { border-bottom: 3px solid var(--link-color2); }
    100% { border-bottom: 3px solid var(--link-color); }
}