<div id="accueil">
    <h1> Site de recueil des projets <b class="special">FMx</b>.</h1>
    <div>
        <h2> Pour accéder au blog, au forum et à la messagerie, <b class="special" data-popup-click="popupConnect">connectez vous</b>. </h2>
        <h3> Attention, ce site est en développement. Le système de compte n'est pas encore mis en place, mais devrait arriver d'ici quelques jours...</h3>
    </div>
</div>