<div id="accueil">
    <h1>Bienvenue sur mon <b class="special">site web</b>, recueil de mes <b class="special">projets</b>.</h1>
    <h2> Pour accéder à FmConv (messagerie), <b class="special" data-popup-click="popupConnect">connectez vous</b>. </h2>
</div>