<!DOCTYPE html>
<html lang="fr">
<head>

    <!-- Elements -->
    <meta charset="UTF-8">
    <title>{% block title %} MarvinFm {% endblock %}</title>

    <!-- Styles du site -->
    <link rel="stylesheet" href="{{ asset('styles/couleurs.css') }}">
    {% block styles %}
    {% endblock %}
    
    <!-- Styles externes -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body data-aos="fade-in" class="lapis">

    <!-- Barre du haut -->
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <!-- Main -->
    <main>
        {% block body %}
        {% endblock %}
    </main>

    <!-- Popups -->
    <main>
        {% block popups %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    <!-- Scripts -->
    {% block scripts %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script> AOS.init(); </script>
    {% endblock %}

</body>
</html>
<!-- ð—¢ð˜„ð—¢
âŸ¦ ð—Ÿð—¼ð˜ð—³ð—¶ ð—²ð˜€ð˜ ð˜€ð—²ð˜…ð˜† ! âŸ§
ð—¨ð˜„ð—¨ -->
